.App{
    padding:4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_container{
    display:flex;
    flex-wrap:wrap;
}

.search{
    margin:4rem auto;
    padding:15px;
    border-radius: 100px;
    font-size: 20px;
    cursor:pointer;
    transition: transform .3s ease;
}

.search:focus{
    transform: scale(1.1);
}